# Custom configuraition file
auto-gen-custom.el

# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Directories
eln-cache/*
straight/*

# *.el files produced by compiling *.org files
install_packages.el
markdown.el